@font-face {
    font-family: 'star_jediregular';
    src: url('starjedi-webfont.woff2') format('woff2'),
         url('starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  margin: 0 auto;
  font-size: 20px;
  font-family: 'star_jediregular', sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
}
