@font-face {
  font-family: 'star_jediregular';
  src: url('starjedi-webfont.woff2') format('woff2'),
    url('starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0 auto;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.title {
  font-size: 4rem;
  font-family: 'star_jediregular', sans-serif;
}

p {
  font-size: 2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}